//  PAGINA DE GESTOR
.cuerpo {
    .flexgestor {
        display: flex;
        justify-content: space-around;
        margin: 50px;

        .txtgestor {
            width: 45%;
        }

        .generalform {
            .iniciar {
                text-align: center;
            }

        }
    }
}