//  PAGINA DE GESTOR
.cuerpo {
    .flexgestor {
        display: flex;
        justify-content: space-around;
        margin: 50px;

        .generalform {
            .iniciar {
                text-align: center;
            }
            .formularioboo{

            }
        }
        .txtgestor {
            width: 45%;
        }
    }
}