.cuerpo {
    .cabeza {
        height: 150px;
        width: auto;
        position: sticky;
        top: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $primario;
        padding-right: 50px;
        padding-left: 50px;
        font-family: 'Asap', sans-serif;
        font-family: 'Be Vietnam Pro', sans-serif;
        color: $terciario-boton;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.40);

            nav {
            .flexnav {
                display: flex;
                padding: 10px;
                margin: 0;
                width: 900px;
                align-items: center;
                justify-content: space-between;

                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: $txt-b;
                        font-size: nth($fontsize,4);
                        padding: 10px;

                    }
                }
            }
        }
    }
}