.cuerpo {

    .orden {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "carrusel"
            "caracteristicas"
            "novedades";
        grid-gap: 10px;

        .carrusel {
            grid-area: carrusel;
            height: 300px;
            background-image: url(../img/gif.gif);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            .columnasimple {
                display: grid;
                grid-template-columns: 70% 30%;
                grid-template-rows: 300px;
                grid-template-areas: "parrafos" "boton";
            }

            .texto {
                grid-area: parrafos;
                padding-left: 100px;
                padding-top: 70px;

                h1 {
                    color: $txt-b;
                    font-size: nth($fontsize, 2);
                }

                p {
                    color: $txt-b;
                    font-size: nth($fontsize, 4);
                }
            }

            .botoninicio {
                grid-area: boton;
                grid-column: 2/3;
                grid-row: 1/2;
                padding-top: 120px;
                padding-left: 100px;
                &:hover {
                    transform: scale(1.2);
            
                }

            }
        }

        .caracteristicas {
            grid-area: caracteristicas;

            .gridcaracter {
                display: grid;
                align-items: center;
                justify-content: center;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                padding-left: 3%;

                .cara {
                    width: 400px;
                    height: 400px;
                    border-radius: 10px;
                    text-align: center;
                    margin-right: 20px;
                    padding-top: 30%;
                    background-color: $secundario;

                    .uno {
                        grid-area: 1/1/2/2;
                        margin-right: 20px;
                    }

                    .dos {
                        grid-area: 1/2/2/3;
                    }

                    .tres {
                        grid-area: 1/3/2/4;
                    }

                    .cuatro {
                        grid-area: 1/4/2/5;
                    }
                }
            }
        }
    }

    .novedades {
        grid-area: novedades;

        .cardshome {
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-around;
            flex-wrap: wrap;
            row-gap: 30px;

            div {
                box-shadow: -5px 5px 12px -5px rgba(0, 0, 0, 0.92);
                -webkit-box-shadow: -5px 5px 12px -5px rgba(0, 0, 0, 0.92);
                -moz-box-shadow: -5px 5px 12px -5px rgba(0, 0, 0, 0.92);
                display: inline-block;
                width: 504px;
                height: 450px;
                border: 2px solid $boton-hover-borde;
                background-color: $txt-b;
                border-radius: 20px;

                img {
                    width: 500px;
                    border-radius: 19px 19px 0px 0px;
                }

                h4 {
                    padding: 20px;
                }

            }
        }
    }
}