//Pagina novedades
.cuerpo {
    .novedades {
        .encabeza {
            width: 80%;
            margin-top: 50px;
            margin-left: 10%;

            h2 {
                text-align: center;
                padding-top: 30px;
                background-color: #b2d9f7;
                border-radius: 10px;
                height: 100px;
                width: 100%;
                margin-bottom: 50px;
            }

            p {
                width: 70%;
                margin-left: 15%;
            }
        }

        .cards {
            display: grid;
            grid-gap: 30px;
            grid-template-rows: 100px repeat(4 500px) 100px;
            grid-template-columns: repeat(3 1fr);
            margin-right: 50px;
            margin-left: 50px;

            .txtnovedad {
                grid-area: 1/1/2/4;
                height: 100px;

                .centro {
                    text-align: center;
                    padding-top: 60px;
                    padding-bottom: 40px;
                    color: #001f33;
                }
            }

            .noticia {
                box-shadow: -5px 5px 12px -5px rgba(0, 0, 0, 0.92);
                -webkit-box-shadow: -5px 5px 12px -5px rgba(0, 0, 0, 0.92);
                -moz-box-shadow: -5px 5px 12px -5px rgba(0, 0, 0, 0.92);
                display: inline-block;
                width: 504px;
                height: 450px;
                border: 2px solid #3bb5c5;
                background-color: #fbfdfd;
                border-radius: 20px;

                img {
                    width: 500px;
                    border-radius: 19px 19px 0px 0px;
                }

                h4 {
                    padding: 20px;
                }
                .mas{
                    margin: 20px;
                    text-decoration: none;
                    border: 1px #00ACE6 solid;
                    border-radius: 30px;
                    padding: 7px;
                    font-size: small;
                    font-style: italic;
                    color: #00ACE6;
                }

                .uno {
                    grid-area: 2/1/3/2;
                    height: 400px;

                }

                .dos {
                    grid-area: 2/2/3/3;
                    height: 400px;
                }

                .tres {
                    grid-area: 2/3/3/4;
                    height: 400px;
                }

                .cuatro {
                    grid-area: 3/1/4/2;
                    height: 400px;
                }

                .cinco {
                    grid-area: 3/2/4/3;
                    height: 400px;
                }

                .seis {
                    grid-area: 3/3/4/4;
                    height: 400px;
                }

                .siete {
                    grid-area: 4/1/5/2;
                    height: 400px;
                }

                .ocho {
                    grid-area: 4/2/5/3;
                    height: 400px;
                }

                .nueve {
                    grid-area: 4/3/5/4;
                    height: 400px;
                }

                .diez {
                    grid-area: 5/1/6/2;
                    height: 400px;
                }

                .once {
                    grid-area: 5/2/6/3;
                    height: 400px;
                }

                .doce {
                    grid-area: 5/3/6/4;
                    height: 400px;
                }

                .botonver {
                    grid-area: 6/1/7/4;
                    text-align: center;
                    margin-top: 60px;

                    a {
                        text-decoration: none;
                        font-size: 24px;
                        color: floralwhite;
                        background-color: #072a40;
                        padding: 5px 25px 5px 25px;
                        border-radius: 30px;

                        &:hover {
                            background-color: #00AEEA;
                        }
                    }
                }
            }
        }
    }
}