$primario:#178ca4;
$secundario:#9CDBFC;

$encabezado: #b2d9f7;

$txt-n:#252525;
$txt-b:#f5f5f5;

$terciario-boton:#072a40;
$boton-hover-borde:#00AEEA;
$borde-b: #bfc6ce;
$gris: #3d3c3b;
$gris-claro: #bfc6ce;
$footer:#f9f7f0;

$fontsize:48px, 40px, 36px,24px,12px;
