 /* 14.8 */
 .gridcaracter {
    height: auto;
    padding-left: 1%;
    grid-gap: 10px;
    padding-left: 3%;
    align-items: center;
    justify-content: center;

    .cara {
        width: 300px;
        height: 250px;
        margin-bottom: auto;
        h3{
           font-size: nth($fontsize, 4);
        }
 
 
 /* APLICACION DE MEDIA QUERIES */
 /* 1. INICIO */


 @media screen and (max-width: 1690px) {
     .cuerpo {
         .cabeza {
             .flexnav {
                 font-size: 23px;
             }
         }

         .orden {
             grid-template-rows: auto 650px auto;

             .caracteristicas {
                 .gridcaracter {
                     height: auto;
                     padding-left: 5%;
                     grid-template-columns: 1fr 1fr;
                     grid-template-rows: 1fr 1fr;
                     grid-gap: 10px;
                     padding-left: 3%;
                     align-items: center;
                     justify-content: center;


                     .cara {
                         width: auto;
                         height: 250px;
                         margin-bottom: 2px;

                         .cara .uno {
                             grid-area: 1/1/2/2;

                         }

                         .cara .dos {
                             grid-area: 1/2/2/3;
                         }

                         .cara .tres {
                             grid-area: 2/1/3/2;
                         }

                         .cara .cuatro {
                             grid-area: 2/2/3/3;
                         }
                     }
                 }
             }

             .novedades {
                 .cardshome {
                     div {
                         width: 404px;
                         height: 380px;

                         h4 {
                             font-size: nth($fontsize, 5);
                         }

                         img {
                             width: 400px;
                         }
                     }
                 }
             }
         }

         .pie {
             margin-top: 100px;
         }
     }
 }


 @media screen and (max-width: 1350px) {
     .cuerpo {
         .cabeza {
             height: 200px;
             flex-direction: column;
             align-items: center;
             justify-content: space-around;
         }

         .orden {
             .carrusel {
                 .columnasimple {
                     .texto {
                         padding-top: 100px;

                         h1 {
                             font-size: nth($fontsize, 3);
                         }

                         p {
                             font-size: nth($fontsize, 5);
                         }
                     }

                     .botoninicio {
                         h2 {
                             a {
                                 font-size: nth($fontsize, 5);
                             }
                         }
                     }
                 }
             }
         }
     }
 }

 @media screen and (max-width: 981px) {
     .cuerpo {
         .cabeza {
             .flexnav {
                 li {
                     a {
                         font-size: 18px;
                     }
                 }
             }
         }

         .orden {
             .carrusel {
                 .columnasimple {
                     height: 200px;
                     display: flex;
                     flex-direction: column;
                     row-gap: 1px;
                     align-items: center;
                     justify-content: center;

                     .texto {
                         height: 200px;
                         margin-top: 100px;
                         padding: 30px;
                     }

                     .botoninicio {
                         height: 100px;
                         padding: 30px;
                         margin: auto;

                         h2 {
                             a {
                                 font-size: nth($fontsize, 5);
                             }
                         }
                     }
                 }
             }
         }

         .caracteristicas {
             .gridcaracter {
                 padding-left: 50px;
             }
         }
     }
 }




 @media screen and (max-width: 900px) {
     .orden {
         .caracteristicas {
             .gridcaracter {
                 padding-left: 40px;

                 .cara {
                     width: 300px;
                 }
             }
         }
     }
 }

 @media screen and (max-width: 750px) {
     .orden {
         .caracteristicas {
             .gridcaracter {
                 padding-left: 80px;

                 .cara {
                     width: 250px;
                 }
             }
         }
     }
 }

 @media screen and (max-width: 700px) {
     .orden {
         .caracteristicas {
             .gridcaracter {
                 padding-left: 50px;
             }
         }
     }
 }

 @media screen and (max-width: 600px) {
     .orden {
         .caracteristicas {
             .gridcaracter {
                 padding-left: 20px;
             }
         }
     }
 }

 /* 2. NOVEDADES */

 @media screen and (max-width: 1650px) {
     main {
         .novedades {
             .cards {
                 grid-template-rows: 100px repeat(6 500px) 100px;
                 grid-template-columns: repeat(2 1fr);
                 align-items: center;
                 justify-content: center;

                 .txtnovedad {
                     grid-area: 1/1/2/3;
                 }

                 .noticia .uno {
                     grid-area: 2/1/3/2;
                 }

                 .noticia .dos {
                     grid-area: 2/2/3/3;
                 }

                 .noticia .tres {
                     grid-area: 3/1/4/2;
                 }

                 .noticia .cuatro {
                     grid-area: 3/2/4/3;
                 }

                 .noticia .cinco {
                     grid-area: 4/1/5/2;
                 }

                 .noticia .seis {
                     grid-area: 4/2/5/3;
                 }

                 .noticia .siete {
                     grid-area: 5/1/6/2;
                 }

                 .noticia .ocho {
                     grid-area: 5/2/6/3;
                 }

                 .noticia .nueve {
                     grid-area: 6/1/7/2;
                 }

                 .noticia .diez {
                     grid-area: 6/2/7/3;
                 }

                 .noticia .once {
                     grid-area: 7/1/8/2;
                 }

                 .noticia .doce {
                     grid-area: 7/2/8/3;
                 }

                 .boton {
                     grid-area: 8/1/9/3;
                 }
             }
         }
     }
 }

 @media screen and (max-width: 860px) {
     main {
         .novedades {
             .cards {
                 display: flex;
                 flex-direction: column;
             }
         }
     }
 }

 //  nosotros
 @media screen and (max-width: 1350px) {
     main {
         .flexnosotros {
             flex-direction: column;
             align-items: center;
             justify-content: center;
             justify-content: space-around;


             .txtnosotros {
                 width: 100%;
                 margin-top: 20px;

             }

             .recientes {
                 margin-top: 20px;
                 width: 800px;
                 height: 400px;


                 .listanoticia {
                     width: 600px;
                     height: 300px;
                     justify-content: space-around;


                 }

             }
         }
     }

     .flexhospitales {
         flex-direction: column;

         .txtred {
             width: 90%;
             align-items: center;
             justify-content: center;
         }

         div {
             .red {
                 justify-content: center;
             }
         }
     }
 }